.parallax img{
	width: 100%;
}

/*.formbg {
  background-color: #3CBC8D;
  color: white;
}*/

form{
	background-color: white;
}

#email{
	/* background-color: white; */
	padding-right: 50px;
}

button{
	font-weight: 1.5em;
}

.socialMedia i{
	font-size: 30px;
  text-orientation: mixed;
  margin-right: 15px
}

#space{
	
	margin-left:-10px;
}

.socialMedia{
  position: left;
  right: 0px;
  width: 300px;
  
  padding: 10px;
}

#pp{
	margin-right: 30px;
}

#validate{
	margin-right: 100px;
}


.page-footer{
 margin-top: 100px;
}
/* 
.page-footer ul{
 align-items:left;
}

.page-footer{
  display:flex;
}

.page-footer ul{
  justify-content:left;
  text-align:left;
}

.page-footer ul li{
  display:inline-block;
 } */

 .footer-copyright a {
   margin-right: 20px;
   transition: all .2s ease-in-out;
 }

 .footer-copyright a:hover {
  transform: scale(1.5);
}

 h1, h2 {
   text-align: center;
   font-family: 'Akronim', cursive;
 }
.dropdown-trigger{
  margin-right: 20px;
}

 /* #topBar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0; 
  width: 100%;
} */
 
/* #options {
  padding-:40px;
} */

a .my-title {
  text-align: center;
  color: black;
}

#projects, #about {
  padding-top: 100px;
}

.formBox{
  width: 65%;
  margin: auto;
  border: 2px solid black;
  padding: 20px;
}
.parallax-text {
  margin-top: 150px;
  text-align: center;
}
#contact{
  padding-top: 100px 
}

textarea.materialize-textarea {
  height:200px;
}
#leftLogo{
  margin-left: 20px;
  }

@media only screen and (max-width: 600px) {
  
#leftLogo{
  margin-top: 15px;
  margin-left: 13px;
  }
}

.my-title {
  font-family: 'Akronim', cursive;
}